@using StitchMaster.BusinessLogic
@using StitchMaster.DataLayer

@inject UserStateService UserState
@inject NavigationManager Navigation

<nav class="container-fluid navbar d-flex justify-content-between align-items-center" style="background-color:#0a2363;">
    <div class="logoBox">
        <img class="img-fluid" src="./stitchLogo.png" alt="Alternate Text" />
    </div>

    <div class="d-flex align-items-center justify-content-center gap-2">
        <NavLink class="accent-text nav-link" href="/">Home</NavLink>
        <NavLink class="accent-text nav-link" href="/about">About Us</NavLink>

        @if (UserState.IsLoggedIn)
        {

            <button class="logBtn accent-text btn bg-secondary link-opacity-70" @onclick="Logout">
            Logout (@UserData.GetUserByEmail(UserState.Email).FullName)
            </button>
        }
        else
        {
            <NavLink class="logBtn accent-text btn bg-secondary link-opacity-70" href="/signin">
                Sign in
            </NavLink>
        }
    </div>
</nav>

