<nav class="container-fluid bg-primary navbar d-flex justify-content-between align-items-center">
    <div class="logoBox">
        <img class="img-fluid" src="./stitchLogo.png" alt="Alternate Text" />
    </div>
        <div class="d-flex align-items-center justify-content-center gap-2">
        <NavLink class="accent-text nav-link" href="/">Home</NavLink>
        <NavLink class="accent-text nav-link" href="/about">About Us</NavLink>
        <a class="logBtn btn" href="/login">Login</a>
        </div>
</nav>
