@page "/"
@using DataLayer;
@using BusinessLogic;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app. @username

@code
{
	string username;
	User u = UserDL.GetUser("ahmad", "ahmad");

}
